/TrabajoPractico0/Debug/src/Input.o
/TrabajoPractico0/Debug/src/Output.o
/TrabajoPractico0/Debug/src/Transaction.o
/TrabajoPractico0/Debug/src/cmdline.o
/TrabajoPractico0/Debug/src/sha256.o
/.metadata/.lock
/.metadata/.mylyn/repositories.xml.zip
/.metadata/.plugins/org.eclipse.cdt.core/.log
/.metadata/.plugins/org.eclipse.cdt.core/TrabajoPractico0.1605025804996.pdom
/.metadata/.plugins/org.eclipse.cdt.core/TrabajoPractico0.language.settings.xml
/.metadata/.plugins/org.eclipse.cdt.core/shareddefaults.xml
/.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
/.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/buildState/TrabajoPractico0/1197274842
/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/buildState/TrabajoPractico0/TrabajoPractico0
/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.c
/.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.cpp
/.metadata/.plugins/org.eclipse.cdt.ui/TrabajoPractico0.build.log
/.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
/.metadata/.plugins/org.eclipse.core.resources/.history/17/50e65cc2d023001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/17/e0371c3e7323001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/20/a0fc64c2d023001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/22/80203b267f23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/24/d0a998627523001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/26/f08e8c118c23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/2a/2063eed88b23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/2a/40e98cde7323001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/3/f038788f8723001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/33/80cdff3f8a23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/5/e07438b38b23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/51/500226c38623001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/53/10201eec8223001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/53/30e5cf399423001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/53/d05471aa7223001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/58/e041e0ff8d23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/59/507a61b38323001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/5b/50c355897f23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/5b/f07660f07d23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/62/d0cf4d8c8e23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/7/20460e21d223001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/70/a0e50cab7f23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/74/400d58119323001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/75/00dc2c669423001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/81/506b52ea8323001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/8a/f0150e488423001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/91/00f9e9058e23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/97/90f070508a23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/9d/107325ec8223001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/a2/60fe04889523001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/b0/2031fc019b23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/b4/007853de9a23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/b4/20fb5e9a9423001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/b4/804f1aec8223001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/b8/b0d9950b8323001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/c1/003064e27323001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/c3/b0ceb3837f23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/c5/502ded058e23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/f4/e0ad01907f23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/f6/60c95ca79423001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/f9/102feaf27d23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/fd/20f1a0b37f23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/ff/60585c728123001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.projects/TrabajoPractico0/.indexes/af/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/TrabajoPractico0/.indexes/e4/9/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/TrabajoPractico0/.indexes/e4/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/TrabajoPractico0/.indexes/e4/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/TrabajoPractico0/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/TrabajoPractico0/.markers
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.ui.controls.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.tracecompass.tmf.analysis.xml.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
/.metadata/.plugins/org.eclipse.debug.core/.launches/TrabajoPractico0 Debug.launch
/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/.metadata/.plugins/org.eclipse.launchbar.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.linuxtools.cdt.libhover/C/devhelp.libhover
/.metadata/.plugins/org.eclipse.linuxtools.cdt.libhover/C/glibc_library.libhover
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2020/11/46/refactorings.index
/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.intro/introstate
/.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
/.metadata/version.ini
/TrabajoPractico0/Debug/TrabajoPractico0.exe
/TrabajoPractico0/Debug/src/Block.o
/TrabajoPractico0/Debug/src/Body.o
/TrabajoPractico0/Debug/src/Header.o
/TrabajoPractico0/Debug/src/TrabajoPractico0.o
/.metadata/.log
/.metadata/.plugins/org.eclipse.core.resources/.history/1a/00703c6b2625001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/1b/007bb34a0625001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/1b/60986c137223001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/1e/9042d0950525001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/20/809c74370725001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/2d/b01cca038223001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/2e/e01f82fd8823001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/2f/3097ee908523001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/31/e04401ac3925001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/35/001600640a25001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/3c/b0832b208423001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/4/50755ac2d023001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/40/400621ec8223001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/42/0074fe92fc24001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/42/f015220e9b23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/44/908b1bea7d23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/54/100c99653725001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/5a/004eaed52525001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/5d/3090938e8523001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/5d/e0572ee10f25001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/64/604953c2d023001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/6b/0004fb65fc24001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/6f/101442aa0a25001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/78/10e4238c1725001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/7a/e04d7f56d223001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/7b/500780db8723001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/7c/f095e5c08b23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/8e/003d3327fc24001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/8e/a00b61a00925001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/8f/2049f2688a23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/8f/b0238a732625001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/91/609db8508923001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/91/70a51d958623001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/92/e0f223077e23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/93/a0ee2c128123001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/94/70ffb69c9523001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/95/f0561a1e8423001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/96/7084abfa8123001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/9a/d0d4e4670b25001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/9c/1098c7229423001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/a0/30e3edb38023001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/a1/b0a89ed29323001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/a6/c081a4bffc24001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/a8/20e318958923001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/b5/1038c9b13925001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/b6/00b90f698623001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/b6/30bdde053525001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/b7/90c23f3b3925001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/b7/f0b1cf739623001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/bb/a089b8837f23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/bc/b0e24ff99a23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/bd/0072d2948e23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/c1/908107e68b23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/c2/90f35fc2d023001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/c7/20f66b928a23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/c8/c0d37faa7223001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/c9/f088af837f23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/cb/608c365a3925001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/cc/70f60193fc24001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/cc/c0fa74810a25001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/d0/1024364bfc24001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/d9/b0b262c2d023001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/d9/b0c4e6058e23001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/e/30c55ea79423001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/e2/502140a20825001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/e6/8048974f8123001b106ff3f869ad68f0
/.metadata/.plugins/org.eclipse.core.resources/.history/e8/80815d913925001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/e8/d0003f300d25001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/ef/e0487044fc24001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/f/90ce14a43a25001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/f4/70304ba1fc24001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/f7/90c5166d3725001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/fd/10449ed50725001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.projects/TrabajoPractico0/.markers.snap
/.metadata/.plugins/org.eclipse.core.resources/.projects/TrabajoPractico0/.syncinfo.snap
/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
/.metadata/.plugins/org.eclipse.core.resources/1.snap
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-TrabajoPractico0.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2020/11/46/refactorings.history
/.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
/.metadata/.plugins/org.eclipse.core.resources/.history/14/e08aecbc4225001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/16/b0db083f3d25001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/18/d098e8b33d25001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/3/401745334125001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/7b/40437fad4225001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/9e/603c6c513e25001b1b3ac9e6572207b9
/.metadata/.plugins/org.eclipse.core.resources/.history/eb/a065f1eb4125001b1b3ac9e6572207b9
